body {
    padding:0;
    margin:0;
    font-family: 'DM Sans', sans-serif;
}

body > header {
    background-color:#262626;
    width:100vw;
    top:0;
}

#button {
    clear:left;
}

body > main > #haut > #logo {
    position:absolute;
    top:16vh;
    left:3vw;
}

nav {
    position:absolute;
    left:50vw;
    top:12vh;
}

#loupe {
    width:3vw;
    height:6vh;
}

nav > ul > li {
    list-style-type:none;
    display:inline-block;
    padding:10px;
}

ul > li > a {
    color:black;
    text-decoration:none;
}

h1 {
    position:absolute;
    font-size:5em;
    top:30vh;
    left:20vw;
    font-weight:100;
}

#contenu {
    position:absolute;
    top:100vh;
    background-color:#f2f3e8;
    width:100vw;
    height:200vh;
}

#article1 {
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:10vh;
    left:2vw;
}

#article2 {
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:10vh;
    left:35vw;
}

#article3 {
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:10vh;
    left:68vw;
}

#article4{
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:120vh;
    left:2vw;
    
}

#article5 {
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:120vh;
    left:35vw;
}

#article6 {
    position:absolute;
    background-color:white;
    width:30vw;
    height:45vh;
    top:120vh;
    left:68vw;
}

article {
    border:1px solid black;
}

#photo {
    border-radius:100%;
    width:5vw;
    height:10vh;
}

#image {
    width:30vw;
}